#bandeau {
    background-color: var(--overlay2);
    background: none;
}

.bandeau_colonne {
    color: var(--text);
}

#bandeau a:link, #bandeau a:hover, #bandeau a:visited {
    color: var(--pink);
}

.accueil {
    width: inherit;
    margin: inherit;
    padding: inherit;
    font-size: inherit;
    color: var(--mauve);
    background: none;
}