@media screen and (width <= 768px) {
    #board {
      flex-direction: column;
      align-items: stretch;
    }
    .agenda-col {
      width: calc(100% - 3rem);
      margin: 0 auto;
      padding: 3rem;
    }
  }
  
  @media screen and (768px <= width <= 1200px) {
    .agenda-col {
      flex: 1 1 calc(16rem + (10rem * (100vw - 768px) / 432px));
      max-width: 30rem;
      min-width: 20rem;
    }
  }
  
  @media screen and (1200px <= width) {
    .agenda-col {
      flex: 1 1 30rem;
      max-width: 30rem;
    }
  }