/* Light Mode (Catppuccin Latte Theme */

:root {
    /* --crust: #dce0e8;
    --mantle: #e6e9ef;
    --base: #eff1f5;
    --surface0: #ccd0da;
    --surface1: #bcc0cc;
    --surface2: #acb0be;
    --overlay0: #9ca0b0;
    --overlay1: #8c8fa1;
    --overlay2: #7c7f93;
    --subtext0: #6c6f85;
    --subtext1: #5c5f77;
    --text: #4c4f69;
    --lavender: #7287fd;
    --blue: #1e66f5;
    --sapphire: #209fb5;
    --sky: #04a5e5;
    --teal: #179299;
    --green: #40a02b;
    --yellow: #df8e1d;
    --peach: #fe640b;
    --maroon: #e64553;
    --red: #d20f39;
    --mauve: #8839ef;
    --pink: #ea76cb;
    --flamingo: #dd7878;
    --rosewater: #dc8a78; */
    color-scheme: light dark;

    --light-main:#eff0f3;
    --light-background:#eff0f3;
    --light-headline:#0d0d0d;
    --light-text:#2a2a2a;
    --light-text-secondary:#0d0d0d;
    --light-primary:#ff8e3c;
    --light-secondary:#fffffe;
    --light-tertiary:#d9376e;

    --dark-main:#fffffe;
    --dark-background:#0f0e17;
    --dark-headline:#fffffe;
    --dark-text:#a7a9be;
    --dark-text-secondary:#0d0d0d;
    --dark-primary:#ff8906;
    --dark-secondary:#f25f4c;
    --dark-tertiary:#e53170;
}

* {
    background-color: light-dark(var(--light-background), var(--dark-background));
}

p a {
    color: light-dark(var(--light-text), var(--dark-text));
}

h1 {
    color: light-dark(var(--light-headline), var(--dark-headline));
}

/* Dark Mode (Catppuccin Macchiato Palette) */

/* :root {
    --crust: #232634;
    --mantle: #292c3c;
    --base: #303446;
    --surface0: #414559;
    --surface1: #51576d;
    --surface2: #626880;
    --overlay0: #737994;
    --overlay1: #838ba7;
    --overlay2: #949cbb;
    --subtext0: #a5adce;
    --subtext1: #b5bfe2;
    --text: #c6d0f5;
    --lavender: #babbf1;
    --blue: #8caaee;
    --sapphire: #85c1dc;
    --sky: #99d1db;
    --teal: #81c8be;
    --green: #a6d189;
    --yellow: #e5c890;
    --peach: #ef9f76;
    --maroon: #ea999c;
    --red: #e78284;
    --mauve: #ca9ee6;
    --pink: #f4b8e4;
    --flamingo: #eebebe;
    --rosewater: #f2d5cf;
} */