/* Mode clair, définition de fonctions correspondant aux couleurs utilisées dans la page en mode clair */

:root {
    color-scheme: light dark;
    --main:#eff0f3;
    --background:#eff0f3;
    --headline:#0d0d0d;
    --text:#2a2a2a;
    --text-secondary:#0d0d0d;
    --primary:#ff8e3c;
    --secondary:#fffffe;
    --tertiary:#d9376e;
}

/* Mode sombre, définition de fonctions correspondant aux couleurs utilisées dans la page en mode sombre */

.darkmode {--main:#fffffe;
    --background:#0f0e17;
    --headline:#fffffe;
    --text:#a7a9be;
    --text-secondary:#0d0d0d;
    --primary:#ff8906;
    --secondary:#f25f4c;
    --tertiary:#e53170;
}

body{
    background-color: var(--background);
    color: var(--text);
}

/* Caractéristiques du bouton permettant le changement de thème */

#theme-switch {
    height: 3.125rem;
    width: 3.125rem;
    padding: 0;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
}

#theme-switch svg{
    fill: var(--secondary);
}

/* Affiche, en fonction de la présence de la classe darkmode, l'icône soleil ou l'icône lune */

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}